{% extends "base.html" %}

{% block content %}

<h1>Blog Posts <a href="{{ get_url(path='blog' ~ '/' ~
config.feed_filenames.0)}}"><i class="fa-solid fa-square-rss"></i></a>
</h1>
<hr>
<div class="posts">
  {% for page in section.pages %}
  <article class="post">
    <h2 class="post-title">
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h2>
    <span class="post-date">{{ page.date | date(format="%Y-%m-%d") }}</span>
    {% if page.extra.summary %}
    {{ page.extra.summary | safe }}
    {% endif %}
  </article>
  {% endfor %}
</div>
{% endblock content %}
