<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <!-- viewport-fit=cover is to support iPhone X rounded corners and notch in landscape-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, viewport-fit=cover">

  {% if page.title %}
  <title> {{ page.title }} | Griffin Berlstein </title>
  {% elif section.title %}
  <title> {{ section.title }} | Griffin Berlstein </title>
  {% else %}
  <title>Griffin Berlstein</title>
  {% endif %}

  <link rel="icon" href="{{ get_url(path='favicon.png') | safe }}" type="image/png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='apple-touch-icon.png') | safe }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='favicon-32x32.png') | safe }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='favicon-16x16.png') | safe }}">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ get_url(path='print.css', trailing_slash=false) }}" media="print">
  <link rel="stylesheet" href="{{ get_url(path='poole.css', trailing_slash=false) }}">
  <link rel="stylesheet" href="{{ get_url(path='hyde.css', trailing_slash=false) }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface">

  <script defer src="{{ get_url(path='/font-awesome/js/brands.js') | safe }}"></script>
  <script defer src="{{ get_url(path='/font-awesome/js/solid.js') | safe }}"></script>
  <script defer src="{{ get_url(path='/font-awesome/js/fontawesome.js') | safe }}"></script>
  <script defer src="{{ get_url(path='fix-footnotes.js') | safe }}"></script>


  <!-- {% if config.generate_feed %}
  <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
    %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
  {% endif %} -->

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{
  get_url(path='blog/atom.xml', trailing_slash=false) | safe }}">
  {% endblock %}


  {% block extra_head %}
  {% endblock extra_head %}
</head>

<body class="{{ config.extra.hyde_theme }} {% if config.extra.hyde_reverse %}layout-reverse{% endif %}">
  {% block sidebar %}
  <div class="sidebar">
    <div class="sidebar-about">
      {% block sidebar_about %}
      <a href="{{ config.base_url }}">
        <h1>{{ config.title }}</h1>
      </a>
      {% if config.description %}
      <p class="lead">{{config.description}}</p>
      {% endif %}
      {% endblock sidebar_about %}
    </div>

    <ul class="sidebar-nav">
      {% block sidebar_nav %}
      {% for link in config.extra.hyde_links %}
      <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
      {% endfor %}
      <hr>
      {% for link in config.extra.hyde_socials %}
      <li class="sidebar-nav-item"><a href="{{link.url}}">{{link.name}}</a></li>
      {% endfor %}

      {% if config.extra.compact_socials %}
      <li class="sidebar-nav-item">
        {% for link in config.extra.compact_socials %}
        {% if link.name == "Github" %}
        <a href="{{link.url}}"><i class="fab fa-github"></i></a>
        {% elif link.name == "Twitter" %}
        <a href="{{link.url}}"><i class="fab fa-twitter"></i></a>
        {% elif link.name == "Bluesky" %}
        <a href="{{link.url}}"><i class="fab fa-bluesky"></i></a>
        {% elif link.name == "Mastodon" %}
        <a rel="me" href="{{link.url}}"><i class="fab fa-mastodon"></i></a>
        {% else %}
        <a href="{{link.url}}">{{link.name}}</a>
        {% endif %}
        {% endfor %}
      </li>
      {% endif %}

      {% endblock sidebar_nav %}
    </ul>

    <div class="container sidebar-sticky">
      <p>&copy {{ now() | date(format="%Y") }}. All rights reserved.</p>
    </div>
  </div>
  {% endblock sidebar %}

  <div class="content container">
    {% block content %}

    {% endblock content %}
  </div>

</body>

</html>
