{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
<section>
    <div class="bio">
        {% set image = resize_image(path="/images/headshot.jpg", width=200, op="fit_width") %}
        <div class="profile">
            <table class="table-profile">
                <tr>
                    <td>
                        <figure class="headshot-img" style="margin:10px; width:200px">
                            <img src="{{ image.url }}">
                        </figure>
                    </td>
                    <td>
                    </td>
                    <td>
                        <div class="info">
                            <h1>Griffin Berlstein</h1>
                            <h2 style="margin:auto">PhD Candidate</h2>
                            <h3 style="margin:auto"><a href="https://www.cornell.edu/">Cornell University</a></h3>
                            <h4 style="margin:auto"><a href="https://www.cs.cornell.edu/">Department of Computer
                                    Science</a>
                            </h4>
                            <p style="margin:auto"> <strong>Pronouns:</strong> They/Them and Xe/Xem</p>
                            <p style="margin:auto"> <strong>Office:</strong> UBB 460</p>
                        </div>
                    </td>
                </tr>
            </table>
            <hr>
        </div>
        {{ section.content | safe }}
    </div>
</section>
<hr>
<section>
    <div class="recent-posts">
        <h3>Recent <a href="{{ get_url(path='blog') }}">Blog Posts</a></h3>
        {% set blogs = get_section(path="blog/_index.md") %}
        {% for page in blogs.pages | slice(end=config.extra.blog_post_count) %}
        {{ m::blog_short(page=page) }}
        {% endfor %}
    </div>
</section>
{% endblock content %}
