{% extends "base.html" %}
{% import "macros.html" as m %}

{% block content %}
<section>
    <div class="bio">
        {{ section.content | safe }}
    </div>
</section>
<hr>
<section>
    <div class="recent-posts">
        <h3>Recent <a href="{{ get_url(path='blog') }}">Blog Posts</a></h3>
        {% set blogs = get_section(path="blog/_index.md") %}
        {% for page in blogs.pages | slice(end=config.extra.blog_post_count) %}
        {{ m::blog_short(page=page) }}
        {% endfor %}
    </div>
</section>
{% endblock content %}
