{% macro generate_pub(page) %}

<div class="publication">
    <span class="pub_title">{{ page.title }} <a class="pub_venue" href="{{ page.extra.conference_link }}"> ({{
            page.extra.conference_name }} {{page.extra.year}})</a></span>
    <div class="pub_details">
        <li>

        </li>
        <div class="pub_authors">
            {% for author in page.extra.authors %}
            {% if not loop.last %}
            {% set comma = "," %}
            {% else %}
            {% set comma = "" %}
            {% endif %}

            {% set_global link = "" %}

            {% for stored_author in config.extra.authors %}
            {% if stored_author.name == author %}
            {% set_global link = stored_author.link %}
            {% endif %}
            {% endfor %}

            {% if author is matching("Griffin Berlstein") %}
            <span class="author_me">Griffin Berlstein</span>{{ comma }}
            {% else %}
            <a href="{{ link }}">{{ author }}</a>{{ comma }}
            {% endif %}



            {% endfor %}
        </div>
        {% if page.extra.award %}
        <div class="awards">
            <i class="fa fa-trophy"></i> {{ page.extra.award }}
        </div>
        {% endif %}
        <div class="links">
            {% if page.extra.paper_link %}
            <a class="button_link" href="{{ get_url(path=page.extra.paper_link)
            | safe }}"> <i
                    class="fa-solid fa-file"></i> PDF</a>
            {% endif %}
        </div>

    </div>
</div>
{% endmacro generate_pub %}


{% macro gen_cv_pubs(page) %}
<div class="pub">
    <p class="title"><strong>{{ page.title }}</strong></p>
    <p class="authors">{{ page.extra.authors | join(sep=", ") }}</p>
    <p><em>In {{ page.extra.conference_name_long }} (<a
                href="{{ page.extra.conference_link }}">{{page.extra.conference_name }}
                {{page.extra.year}}</a>)</em>
    </p>
    {% if page.extra.award %}
    <p><strong>{{page.extra.award}}</strong></p>
    {% endif %}
</div>
{% endmacro gen_cv_pubs %}

{% macro cv_work(position, institution, date) %}
<table class="cv_table">
    <tr>
        <td>
            <p><strong>{{position}}</strong></p>
        </td>
    <tr>
        <td>
            <p>{{institution}}</p>
        </td>
        <td class="date">
            <p>{{date}}</p>
        </td>
</table>
{% endmacro cv_work %}

{% macro cv_ta(class, name, date) %}
<li>
    <em>{{date}}</em>: {{class}}, "{{name}}"
</li>
{%endmacro cv_ta %}

{% macro cv_hon(date, name, association) %}
<p>
    <em>{{date}}</em>: <strong>{{name}}</strong>, {{association}}
</p>
{% endmacro cv_hon %}
